@charset "UTF-8"; 

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Noto Sans KR", sans-serif;
	font-size: 1em;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
.clearfix::before {
	content: "";
	display: block;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

#pc{
    width: 100%;
}

#pc > ul {
    text-align: center;
}

#pc > ul > li {
    display: inline-block;
    position: relative;
    padding: 0 30px;
    line-height: 60px;

}

#pc .sub {
    display: none;
    position: absolute;
    left: -25;
    width: 100%;
    text-align: left;
    text-indent: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); /*box-shadow: x y blur color; */
}

#pc > ul > li:nth-child(2) .sub{
    left:20%;  
    width: 180%;
}
#pc .sub a{
    display: block;
    line-height: 40px;
    font-size: 0.875em; /* 1emì€ 16px*/
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
}
#pc .sub a:hover {
    background-color: #f4f4f4;
}

#pc > ul > li:hover .sub {
    display: block;
}

#pc > ul > li:hover > a {
    color:#f90;
}
#content {
    padding: 10px;
    background-color: #f4f4f4;
}